.movie-detail-container{
    padding-top: 49px;
}

.cap-section{
    margin-bottom: 1.5em;
}

.section-title{
    font-size: 1.2em;
    margin-bottom: 20px;
}

.sub-area{
    position: relative;
    padding: 1em 12em;
}

.movie-info{
    display: flex;
    padding: 4em 12em;
    color: white;
    background-repeat: no-repeat;
    background-position: left calc((50vw - 170px) - 340px) top;
    background-size: cover;
}

.movie-poster{
    min-width: 300px;
    width: 300px;
    height: 450px;
    position: relative;
    margin-right: 3em;
    border-radius: 5px;
    border: 0.8px solid rgba(182, 182, 182, 0.356);
    overflow: hidden;
}

.adult-icon{
    width: 1.8em;
    height: 1.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background-color: red;
}

.all-icon{
    background-color: rgb(255, 153, 0);
}

.movie-caps{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    font-size: 1.1em;
}

.main-facts{
    display: flex;
    align-items: center;
}

.main-fact-left{
    display: flex;
    align-items: center;
}

.dot{
    width: 0.3em;
    height: 0.3em;
    background-color: white;
    border-radius: 50%;
    margin: 0 0.7em;
}

.sub-facts{
    display: flex;
}

.sub-fact{
    margin-right: 1em;
    padding: 1.5em 2em;
    background-color: rgba(78, 78, 78, 0.678);
    border-radius: 10px;
}

.sub-fact h5{
    font-weight: 600;
}

.movie-card{
    margin-bottom: 10px;
}

.reco-movie-group{
    position: relative;
    display: flex;
}

.reco-movie-scroller{
    position: relative;
    height: 440px;
    display: flex;
    overflow: visible;
    overflow-x: auto;
    align-items: center;
    padding-left: 36px;
}

.gradient-overlay{
    position: absolute;
    right: 0;
    width: 5%;
    height: 95%;
    background: linear-gradient(to left, rgb(0, 0, 0) 5%, #000000 10%, transparent 100%);
    z-index: 2;
}

.reco-movie-card{
    margin-right: 15px;
}

.reco-title{
    position: absolute;
    top: -10px;
}

.reco-movie-scroller {
    /* 수평 스크롤바 너비 */
    scrollbar-width: thin;
    /* 수평 스크롤바 색상 */
    scrollbar-color: rgba(139, 43, 43, 0.904) #f1f1f100;
  }

  .overview-mobile{
      display: none;
  }

  @media screen and (max-width: 48rem){
    .movie-info{
        padding: 3em 2em;
        flex-flow: column;
        background-image: none !important;
        align-items: center;
    }

    .movie-info img{
        width: 100%;
    }

    .movie-poster{
        margin-right: 0;
        width: 50%;
        min-width: 50%;
        height: auto;
        margin-right: 0;
    }

    /* .poster-overlay{
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        height: 40%;
        background: linear-gradient(to top, black 40%, transparent);
    } */

    .movie-caps{
        font-size: 0.8em;
    }

    .movie-caps h1{
        font-size: 1.6em;
        margin: 1em 0;
        /* text-align: center; */
    }

    .movie-caps h4{
        display: none;
    }
    .main-facts{
        justify-content: space-between;
    }

    .movie-caps .btn-primary{
        font-size: 0.8em;
        background-color: rgb(128 128 128 / 42%);
    }

    /* .genres{
        justify-content: center;
    }

    .sub-facts{
        justify-content: center;
    } */

    .sub-fact{
        padding: 0;
        background-color: rgba(255, 0, 0, 0);
    }

    .sub-fact h6{
        display: none;
    }

    .sub-area {
        padding: 1em 2em ;
    }

    .cap-section {
        margin-bottom: 0.8em;
    }

    .overview-mobile{
        display: block;
        margin-top: 1.5em;
        padding-top: 0.8em;
        border-top: 0.3px solid #ffffff8c;
    }

    .overview-pc{
        display: none;
    }
}