.banner{
    height: 75vh;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.banner::before{
    content: '';
    background: linear-gradient(to top, black, transparent);
    position: absolute;
    left: 0;
    height: 75vh;
    width: 100%;
}

.banner-text-area{
    width: 36%;
    height: 100%;
    display: flex;   
    flex-direction: column;
    justify-content: center;
    padding: 2rem 5em;
}


.banner-text-area > * { 
    z-index: 2;
}

.banner-title h1,h6{
    text-shadow: 3px 2px 2px rgba(0,0,0,0.92);
}

.movie-video-btn{
    white-space: nowrap;
}

.banner-text-area .btn-primary{
    white-space: nowrap;
}

.banner-overview{
    line-height: 1.7em;
    height: calc(1.7em * 3); /* 라인 높이 x 최대 표시할 줄 수 */
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* 표시할 줄 수 */
}

.banner-btns{
    display: flex;
}

.banner-btn{
    white-space: nowrap;
    display: flex;
    padding: 10px 20px;
    background-color: #63636373;
    align-items: center;
    border-radius: 10px;
    margin-right: 15px;
}

.banner-btn:hover{
    background-color: rgb(134, 134, 134);
}

.banner-btn .btn-primary{
    margin: 0;
    z-index: 20;
}

.banner-btn .btn-primary:hover{
    background-color: rgba(134, 134, 134, 0);
}