.banner{
    height: 56vh;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.banner::before{
    content: '';
    background: linear-gradient(to top, black, transparent);
    position: absolute;
    left: 0;
    height: 56vh;
    width: 100%;
}

.banner-text-area{
    width: 36%;
    height: 100%;
    display: flex;   
    flex-direction: column;
    justify-content: center;
    padding: 2rem 5em;
}


.banner-text-area > * { 
    z-index: 2;
}

.banner-title{
    display: flex;
    align-items: center;
}

.movie-video-btn{
    white-space: nowrap;
}

.banner-text-area .btn-primary{
    white-space: nowrap;
}