
.user-review{
    border: 1px solid rgb(70, 70, 70);
    background-color: rgba(209, 209, 209, 0.185);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 24px;
}

.user-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
    white-space: nowrap;
}

.user-profile{
    width: 70%;
    display: flex;
    align-items: center;
}

.user-profile h5{
    width: 100%;
    margin-bottom: 0;
    text-overflow: ellipsis;
    overflow: hidden;
}

.profile-icon{
    width: 32px;
    height: 32px;
    margin-right: 7px;
    color: rgb(160, 160, 160);
}

.star-icon{
    display: flex;
    align-items: center;
    background-color: #464646;
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 14px;
}

.star-icon svg{
    font-size: 0.7em;
}

.movie-content-area{
    position: relative;
    /* height: 200px;
    overflow: hidden; */
    line-height: 24px;
    margin-top: 16px;
}

.movie-content{
    line-height: 1.7em;
    height: calc(1.7em * 7); /* 라인 높이 x 최대 표시할 줄 수 */
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7; /* 표시할 줄 수 */
}

.read-more-btn{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
    color: #c94646;
    background: none;
    border: none;
    text-decoration: underline;
    font-size: 18px;
}