.carousel-container{
    overflow: hidden;
    height: 440px;
}

.movie-slider-container > h3 {
    position: absolute;
    margin-bottom : 0;
}

@media (max-width: 480px){
    .carousel-container{
        height: 179px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 3em;
    }

    .movie-slider-container > h3 {
        font-size: 1.3em;
        position: inherit;
        margin-bottom : 10px;
    }
}