.navbar-primary{
    background-color: black !important;
}

.navbar-primary a, span {
    color: white;
}

.btn-search{
    border: 1px solid red;
    color: red;
}

.btn-search:hover{
    background-color: red;
    color: white;
}
.navbar-brand{
    cursor: pointer;
}