.navbar-primary{
    width: 100%;
    padding: 0.4em 4.2em;
    position: fixed;
    background-color: black !important;
    z-index: 100;
    box-shadow: 12px 41px 66px -23px rgba(0,0,0,0.96);
}

.navbar-primary a, span {
    color: white;
}

.btn-search{
    border: 1px solid red;
    color: red;
}

.btn-search:hover{
    background-color: red;
    color: white;
}
.navbar-brand{
    cursor: pointer;
}